:root {
    --crimson-flame: #9E1B32;
    --capstone-gray: #828A8F;
    --victory-white: #FFFFFF;
    --legends-black: #000000;
    --pachyderm: #5F6A72;
    --chimes-gray: #C1C6C9;
    --ivory-tusk: #DAD7CB;
    --bama-burgundy: #772432;
    --roll-tide-red: #D0103A;
  }

main {
    padding: 2rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#events {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space */
    background-color: var(--victory-white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 5rem auto 2rem auto;
}

.event {
    border-radius: 5px; /* Rounded corners */
    display: flex; /* Align image and info side by side */
    align-items: center; /* Center vertically */
    cursor: pointer; /* Pointer cursor on hover */
    transition: box-shadow 0.3s; /* Smooth shadow transition */
    background-color: var(--chimes-gray);
    border: 2px dashed var(--capstone-gray);
    justify-content: center;
    color: var(--pachyderm);
    font-style: italic;
}

.event:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.event img {
    width: 200px; /* Set a fixed width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 15px; /* Space between image and text */
}

.event-info {
    display: flex;
    flex-direction: column;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Position it absolutely */
    top: 50%; /* Center vertically */
    left: calc(100% + 20px); /* Position to the right of the event container */
    transform: translateY(-50%); /* Adjust for vertical centering */
    background-color: white; /* Background color */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
    z-index: 1000; /* Ensure it appears above other content */
    width: 300px; /* Set a width for the modal */
    padding: 15px; /* Inner spacing */
}

#book-booth button {
    background-color: var(--crimson-flame);
    color: var(--victory-white);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
    display: inline-block; /* Adjust width based on content */
    white-space: nowrap; /* Prevent wrapping */
}

#book-booth button:hover {
    background-color: var(--roll-tide-red);
}